body {
  background-color:  #323749 ;
  font-family: helvetica;
}

image {
  text-align: center;
}

header {
  color: black;
  text-align: center;
  background-color: whitesmoke;
  padding: 0.2em;
  border: 0.1em;
  border-color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

a {
  padding: 0.5em;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: #323749;
  color: white;
}

h1 {
  margin-left: 0.2em;
}